streamlit
pandas
plotly
nltk
spacy>=3.0
scipy==1.10.1
gensim==4.3.2
bertopic
sentence-transformers
hdbscan
umap-learn
scikit-learn
smart-open
wrapt
protobuf==3.20
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
